# Created by .ignore support plugin (hsz.mobi)
processors/inc/!server_settings.php
journals

#/processors/classes/testmail.php

uAuth/avatars
!uAuth/avatars/default.jpg
uAuth/com_avatars

uCat/art_avatars
!uCat/art_avatars/.htaccess
uCat/art_files
uCat/cat_avatars
!uCat/cat_avatars/.htaccess
uCat/cat_files
uCat/field_files
uCat/item_avatars
!uCat/item_avatars/.htaccess
uCat/item_pictures
!uCat/item_pictures/.htaccess
uCat/items_files
!uCat/items_files/.htaccess
uCat/sect_avatars
!uCat/sect_avatars/.htaccess
uCat/sect_files
uCat/files/
uCat/tmp/
uCat/import_upload/

uDrive/files/*
!uDrive/files/.htaccess
uDrive/files/

uEditor/cache
uEditor/files
!uEditor/files/.htaccess
uEditor/page_avatars

uEvents/cache
uEvents/events_files
uEvents/events_types_files

uFAQ/files
!uFAQ/files/.htaccess

uForms/cache
uForms/field_files
!uForms/field_files/.htaccess
uForms/form_files
!uForms/form_files/.htaccess

uKnowbase/files
!uKnowbase/files/.htaccess

Navi/item_icons
Navi/cache/

uPage/cache
uPage/templates/
uPage/preview_images/
uPage/css/site_css/
uPage/elements/tabs/site_images/

uPeople/avatars
!uPeople/avatars/default.jpg
!uPeople/avatars/default_big.jpg
!uPeople/avatars/default_mid.jpg
!uPeople/avatars/default_sm.jpg

uSlider/cache/
uSlider/files
!uSlider/files/.htaccess
uSlider/slides_bg
!uSlider/slides_bg/.htaccess
uSlideruPage/

uSubscr/files
!uSubscr/files/.htaccess

uSupport/avatars
uSupport/com_avatars
!uSupport/com_avatars/.htaccess
!uSupport/com_avatars/default.jpg
!uSupport/com_avatars/default_big.jpg
!uSupport/com_avatars/default_mid.jpg
!uSupport/com_avatars/default_sm.jpg
uSupport/files
uSupport/msgs_files
!uSupport/msgs_files/.htaccess

bills/

gallery/cache/
gallerygallery_pictures/
gallery/img/site_images/

screenshoter/images/

/images/uPage/templates/

configurator/configurations_pdf/

obooking/calendar_demo_images/

Sitemap/

!uNavi/item_icons/index.html
uNavi/item_icons/
node_modules/
processors/inc/server_settings.php
/gallery/gallery_pictures/
/gallery/img/site_images/
/app/vendor/
/index.php
/uSlider/uPage/elements/tabs/site_images/5/62/tmp1/
/vendor/
/dataairbag/uploads/
/obooking/calendar_demo_images/
/uNavi/cache/
/uPage/elements/tabs/site_images/
