/docker/nginx/access.log
/docker/nginx/error.log
/docker/httpd/error.log
/.idea
/src/journals

#/processors/classes/testmail.php

/src/uAuth/avatars
!/src/uAuth/avatars/default.jpg
/src/uAuth/com_avatars

/src/uCat/art_avatars
!/src/uCat/art_avatars/.htaccess
/src/uCat/art_files
/src/uCat/cat_avatars
!/src/uCat/cat_avatars/.htaccess
/src/uCat/cat_files
/src/uCat/field_files
/src/uCat/item_avatars
!/src/uCat/item_avatars/.htaccess
/src/uCat/item_pictures
!/src/uCat/item_pictures/.htaccess
/src/uCat/items_files
!/src/uCat/items_files/.htaccess
/src/uCat/sect_avatars
!/src/uCat/sect_avatars/.htaccess
/src/uCat/sect_files
/src/uCat/files/
/src/uCat/tmp/
/src/uCat/import_upload/

/src/uDrive/files/*
!/src/uDrive/files/.htaccess
/src/uDrive/files/

/src/uEditor/cache
/src/uEditor/files
!/src/uEditor/files/.htaccess
/src/uEditor/page_avatars

/src/uEvents/cache
/src/uEvents/events_files
/src/uEvents/events_types_files

/src/uFAQ/files
!/src/uFAQ/files/.htaccess

/src/uForms/cache
/src/uForms/field_files
!/src/uForms/field_files/.htaccess
/src/uForms/form_files
!/src/uForms/form_files/.htaccess

/src/uKnowbase/files
!/src/uKnowbase/files/.htaccess

/Navi/item_icons
/Navi/cache/

/src/uPage/cache
/src/uPage/templates/
/src/uPage/preview_images/
/src/uPage/css/site_css/
/src/uPage/elements/tabs/site_images/

/src/uPeople/avatars
!/src/uPeople/avatars/default.jpg
!/src/uPeople/avatars/default_big.jpg
!/src/uPeople/avatars/default_mid.jpg
!/src/uPeople/avatars/default_sm.jpg

/src/uSlider/cache/
/src/uSlider/files
!/src/uSlider/files/.htaccess
/src/uSlider/slides_bg
!/src/uSlider/slides_bg/.htaccess
/src/uSlideruPage/

/src/uSubscr/files
!/src/uSubscr/files/.htaccess

/src/uSupport/avatars
/src/uSupport/com_avatars
!/src/uSupport/com_avatars/.htaccess
!/src/uSupport/com_avatars/default.jpg
!/src/uSupport/com_avatars/default_big.jpg
!/src/uSupport/com_avatars/default_mid.jpg
!/src/uSupport/com_avatars/default_sm.jpg
/src/uSupport/files
/src/uSupport/msgs_files
/src/!uSupport/msgs_files/.htaccess

/src/bills/

/src/gallery/cache/
/src/gallerygallery_pictures/
/src/gallery/img/site_images/

/src/screenshoter/images/

/src//images/uPage/templates/

/src/configurator/configurations_pdf/

/src/obooking/calendar_demo_images/

/src/Sitemap/

!/src/uNavi/item_icons/index.html
/src/uNavi/item_icons/
/src/node_modules/
/src/processors/inc/server_settings.php
/src/gallery/gallery_pictures/
/src/gallery/img/site_images/
/src/app/vendor/
/src/index.php
/src/uSlider/uPage/elements/tabs/site_images/5/62/tmp1/
/src/vendor/
/src/dataairbag/uploads/
/src/obooking/calendar_demo_images/
/src/uNavi/cache/
/src/uPage/elements/tabs/site_images/
/docker-compose.yml
