body {padding:10px; font-size:12px; background:white;}


h1 {color:#004544; font-family:Tahoma,Geneva,Kalimati,sans-serif; font-size:30px; font-weight:normal; margin-top:30px; margin-bottom:25px;}
h2 {color:#004544; font-family:Tahoma,Geneva,Kalimati,sans-serif; font-size:20px; font-weight:normal; margin-top:20px; margin-bottom:15px;}
h3 {color:#333232; font-family:Tahoma,Geneva,Kalimati,sans-serif; font-size:19px; font-weight:normal; margin-top:19px; margin-bottom:13px;}
h4 {color:#004544; font-family:Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif; font-size:17px; font-weight:normal; margin-top:17px; margin-bottom:11px;}
h5 {color:#333232; font-family:Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif; font-size:16px; font-weight:normal; margin-top:13px; margin-bottom:10px;}
body, p {color:#393939; font-family:Tahoma,Geneva,Kalimati,sans-serif; font-size:12px; font-weight:normal;}
a,a:hover,a:visited {color:inherit; text-decoration:inherit}
a:hover {text-decoration:underline;}
p {margin-top:10px; margin-bottom:5px;}
table {/*border:1px solid gray;*/ vertical-align:top;}
th {font-size:13px; color:#004544; vertical-align:top;}
td {vertical-align:top; padding:0 5px; border:solid 1px gray;}
td.noborder {border:none;}
ul, ol {margin:10px 0 10px 20px;}
ul {list-style:circle inside; margin:10px;}
li{margin:4px 0 4px 10px; list-style:outside;}
ol {list-style:roman inside;}
ol ol {list-style:greek inside;}
.tooltip_here {}